<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>代码提交报告</title>
</head>
<body>
<h1>代码提交报告</h1>
<h2>Talk is cheap. Show me the code - Linus Torvalds</h2>
<h6>说明
    <li>饼图：
        <ol>${工程名}-${几个月前}-${图表形式}-${datetime}. 例如，angular2-12-months-ago-piechart-2018-01-04表示在2018-01-04生成的angular2项目过去12个月的代码提交饼图报告</ol>
    </li>
    <li>趋势图（过去一年）：
        <ol>${工程名}-${图表形式}-${datetime}. 例如，ebond-mobile-android-linechart-2018-01-04表示在2018-01-04生成的ebond-mobile-andriod项目在过去12个月的代码提交趋势图</ol>
    </li>
    <li>如果报告内容空白，说明在这个周期内没代码提交</li>
</h6>
<!--
<a href="abc.index">center</a><br>
-->
TO_BE_REPLACED
</body>
</html>